body{
    background-color:white;
    color:black;
    font-family:'Times New Roman', Times, serif;
}

h1{
    color:pink;
    background-color:white;
    text-align: center;
    border: 1px solid black;
}

table{
    background-color:rgb(167, 231, 231);
    border: 1px solid black;
    text-align:center
}
td, th {
    border: 1px solid black;
    background-color:azure
}